---
import Layout from "../components/Layout.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";
---

<Layout title="About" description="About this blog.">
  <script slot="head" type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "AboutPage",
    "name": "About",
    "description": "About this blog.",
    "url": new URL("/about", Astro.site).href,
    "isPartOf": {
      "@type": "WebSite",
      "name": "Blog",
      "url": Astro.site?.href,
    },
  })} />
  <section class="about">
    <Heading as="h1">About</Heading>
    <Prose>
      <p>
        Hi, I'm Scott. Welcome to my blog.
      </p>
    </Prose>
  </section>
</Layout>

<style>
  .about {
    max-width: var(--width-content);
  }
</style>
